extends templates/layout

block content
    h1 Add Movie!
    form(method="POST")
        input(placeholder="Title", required, type="text", name="title")
        input(placeholder="Synopsis", required, type="text", name="synopsis")
        input(placeholder="Genres", required, type="text", name="genre")
        input(type="submit", value="Add Movie")